.main {
  --items-count: 5;
  --content-margin: 5px;
  width: 80%;
  height: calc(100% - (115px + 70px));
  display: flex;
  background-color: var(--main-content-color);
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-between;
}
.main::-webkit-scrollbar {
  display: none;
}
#product-area {
  position: relative;

  width: 100%;
  height: 200px;
  margin: auto;
  background-color: rosybrown;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  min-width: 150px;
  width: calc((100% / var(--items-count)) - 3px);

  /* flex-grow: 1; */
  flex-shrink: 0;
  height: 300px;
  background-color: var(--scondary-color);
  color: indigo;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-bottom: var(--content-margin);
}
@media (max-width: 980px) {
  .main {
    --items-count: 4;
  }
}
@media (max-width: 770px) {
  .main {
    --items-count: 3;
  }
}
@media (max-width: 575px) {
  .main {
    --items-count: 2;
  }
}
@media (max-width: 385px) {
  .main {
    --items-count: 1;
  }
}
#product-area > :first-child {
  width: 75%;
  height: 90%;
  border: 2px solid red;
  position: relative;
  overflow: hidden;
}
#product-area > :first-child > * {
  width: 33.33%;
  height: 95%;

  margin-left: 5px;
  margin-right: 5px;
  margin-top: calc((200px - (200px * 95 * 90) / 10000) / 7);
  background-color: maroon;
  display: block;
  position: absolute;
  transition: transform 0.7s ease-in-out;
}

.left-arrow {
  content: "";
  border: 30px solid green;
  border-color: transparent green transparent transparent;
  z-index: 2;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
.left-arrow:hover {
  border-right-color: rgb(1, 56, 1);
  cursor: pointer;
}
.left-arrow:click {
  border-right-color: rgb(1, 56, 1);
}
.right-arrow {
  content: "";
  border: 30px solid green;
  border-color: transparent transparent transparent green;
  z-index: 2;
  position: absolute;
  right: 0;
  transform: translateX(50%);
}
.right-arrow:hover {
  border-left-color: darkgreen;
  cursor: pointer;
}
.right-arrow:click {
  border-right-color: rgb(1, 56, 1);
}
